{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>new file</title>
<link rel="stylesheet" href="{% static 'todolist/css.css' %}">
</head>
<body>
<h1> What to do today</h1>
<input type="text" name="todo" placeholder="Enter work to do">
<input type="button" value="ADD">
<input type="button" value="Delete Record">
<input type="button" value="Delete All">

<ul>
     {% for todoilist in todo_items %}
        {% if todolist.completed %}
            <li style="color: red;">{{todolist.text}}</li>
        {% else %}
            <li style="color: green;">{{todolist.text}}</li>
        {% endif %}
    {% endfor %}

</ul>
</body>
</html>